.full-width {
  width: 100%;
}

.filter-row {
  min-height: 64px;
  padding: 8px 24px 0;
}

@media only screen and (max-width: 600px) {
mat-cell, mat-header-cell, mat-footer-cell {
    padding-left: 24px;
  }
}